body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.vertical-timeline-element--work .vertical-timeline-element-content {
  border-top: 3px solid #467fcf;
  /*border-top: 3px solid #2196f3;*/
}
